
ICSharpCode.SharpZipLib/obj/Release/SharpZipLib.dll
ICSharpCode.SharpZipLib/obj/Release/SharpZipLib.pdb
ICSharpCode.SharpZipLib/obj/Release/ICSharpCode.SharpZipLib.csprojAssemblyReference.cache
ICSharpCode.SharpZipLib/bin/Release/SharpZipLib.pdb
ICSharpCode.SharpZipLib/bin/Release/SharpZipLib.dll
.vs/SharpZipLib/v16/.suo
.vs/ICSharpCode.SharpZipLib/v16/.suo
